:root {
    /* COLORS */
    --clr-primary: #1f2937;
    --clr-secondary: #f9faf8;
    --clr-text: #e5e7eb;
    --clr-accent: #bc8c38;

    /* FONTS */
    --ff-primary: "Roboto", sans-serif;
}

/* BASIC */

* {
    margin: 0;
}

body {
    font-family: var(--ff-primary);
    width: 100%;
}

/* CONTAINERS */

.header,
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15rem 5rem;
    gap: 4rem;
    background-color: var(--clr-primary);
}

.cards-wrapper {
    text-align: center;
    margin-bottom: 5rem;
}

.cards-wrapper__inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.quote {
    background-color: var(--clr-text);
    padding: 7rem 15rem;
}

.callout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.callout__inner {
    background-color: var(--clr-accent);
    color: var(--clr-secondary);
    padding: 2.5rem 6rem;
    border-radius: 8px;
    display: flex;
    gap: 8rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--clr-primary);
}
/* BLOCKS */

.header__logo {
    font-size: 24px;
    font-weight: bolder;
    color: var(--clr-accent);
    display: flex;
    align-items: center;
}

.header__logo > img {
    height: 60px;
    margin-right: 0.5rem;
}

.navbar__list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar__link {
    font-size: 18px;
    text-decoration: none;
    color: var(--clr-text);
}

.hero__title {
    font-size: 48px;
    font-weight: extra-bold;
    color: var(--clr-text);
}

.hero__text {
    font-size: 18px;
    color: var(--clr-text);
    margin: 0.5rem 0;
}

.hero__btn {
    color: var(--clr-text);
    background-color: var(--clr-accent);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    font-weight: bold;
}

.hero__content {
    flex-basis: 50%;
}

.hero__img {
    flex-basis: 50%;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80848e;
    color: var(--clr-secondary);
}

.hero__img > img {
    width: 100%;
}

.cards-wrapper__title {
    font-size: 36px;
    font-weight: extra-bold;
    color: var(--clr-primary);
    margin: 2rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.card__img {
    width: 100%;
    aspect-ratio: 1;
}

.card__img > img {
    border: 4px solid var(--clr-accent);
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.card__text {
    color: #80848e;
    margin: 0.5rem 0;
}

.quote__text {
    color: var(--clr-primary);
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    position: relative;
}

.quote__ref {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    bottom: -3rem;
    right: 3rem;
}

.callout__btn {
    background-color: inherit;
    color: var(--clr-secondary);
    font-size: 18px;
    font-weight: bold;
    border: 2px solid var(--clr-secondary);
    border-radius: 10px;
    padding: 0.1rem 2rem;
}

.copyright__text {
    color: var(--clr-secondary);
}
