:root {
    /* COLORS */
    --clr-primary: #1f2937;
    --clr-secondary: #f9faf8;
    --clr-text: #e5e7eb;
    --clr-accent: #3882f6;

    /* FONTS */
    --ff-primary: "Roboto", sans-serif;
}

/* BASIC */

* {
    margin: 0;
}

body {
    font-family: var(--ff-primary);
    width: 100%;
}

/* CONTAINERS */

.header,
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15rem 5rem;
    gap: 4rem;
    background-color: var(--clr-primary);
}

/* BLOCKS */

.header__logo {
    font-size: 24px;
    font-weight: bolder;
    color: var(--clr-secondary);
}

.navbar__list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar__link {
    font-size: 18px;
    text-decoration: none;
    color: var(--clr-text);
}

.hero__title {
    font-size: 48px;
    font-weight: extra-bold;
    color: var(--clr-text);
}

.hero__text {
    font-size: 18px;
    color: var(--clr-text);
    margin: 0.5rem 0;
}

.hero__btn {
    color: var(--clr-text);
    background-color: var(--clr-accent);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    font-weight: bold;
}

.hero__content {
    flex-basis: 50%;
}

.hero__img {
    flex-basis: 50%;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80848e;
    color: var(--clr-secondary);
}
